:root {
  --color-primary: #fefae0;
  --color-green: #606c38;
  --color-dark-green: #283618;
  --color-brown: #362115;
  --color-grey: #302b27;
}

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #283618;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

#navbar {
  color: #fefae0;
  background-color: #606c38;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  font-size: 20px;
  width: 100vw;
  overflow: hidden;
}

#matchatLogo {
  height: 70px;
  margin-left: 20px;
}

#dancingCat {
  height: 180px;
  position: absolute;
  left: 20px;
  bottom: 0px;
}

#navList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 80px;
  padding-right: 80px;
}

.navElement a {
  text-decoration: none;
  color: #fefae0;
  transition: all 0.3s ease-in-out;
  padding: 10px 20px;
  border-radius: 10px;
}

.navElement a:hover {
  background-color: #283618;
  border: 0px solid #283618;
  border-radius: 10px;
  padding: 10px 20px;
}

#carousel {
  background-color: black;
  height: 550px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 70%,
      #283618 100%
    ),
    url("https://i.imgur.com/djWUGXu.png") center/cover no-repeat;
  height: 90vh;
  position: relative;
  z-index: 0;
}

#quizzContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-top: 40px;
  overflow: hidden;
  background-image: url(https://i.imgur.com/OEacIj5.png);
  border-top: 1px solid #6b8c59;
  border-bottom: 1px solid #6b8c59;
  height: 800px;
  background-size: cover;
}

#quizzRedirect {
  height: 500px;
  width: 850px;
  background-color: #fefae0;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid #283618;
  color: #283618;
  overflow: hidden;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
}

#quizzScoreboard {
  height: 500px;
  width: 300px;
  background-color: #fefae0;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid #283618;
  color: #283618;
  overflow: hidden;
}

.background {
  width: 100%;
  height: auto;
  padding: 50px 0px;
  background-color: #fefae0;
}

.quizzTitle {
  font-size: 40px;
}

.separator {
  border: 1px solid #283618;
  width: 1000px;
  margin-left: -50px;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
}

.separator2 {
  border: 1px solid #fefae0;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  overflow: hidden;
}

.separator3 {
  border: 1px solid #d6bc82;
  width: 1000px;
  margin-left: -50px;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
}

.separatortop {
  border: 1px solid #d6bc82;
  margin-top: 100px;
  width: 100%;
  overflow: hidden;
}

.separatorbottom {
  border: 1px solid #d6bc82;
  width: 100%;
  overflow: hidden;
}

#quizzPseudo {
  width: 80%;
  height: 50px;
  background-color: #fefae0;
  border: 0px solid transparent;
  border-radius: 10px;
  text-align: center;
}

.quizzPara {
  font-size: 30px;
  margin-top: 20px;
}

#pseudo {
  height: 80px;
  width: 500px;
  background-color: #fefae0;
  border: 2px solid #d6bc82;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 25px;
  padding-left: 5px;
  color: #283618;
  margin: 40px 0;
}

#start {
  height: 80px;
  width: 220px;
  font-size: 30px;
  cursor: pointer;
  padding: 1rem;
  background-color: var(--color-brown);
  color: var(--color-primary);
  border-radius: 50px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border: 0px solid transparent;
}

#start:hover {
  background-color: var(--color-green);
  color: var(--color-primary);
}

.separatorContener {
  position: relative;
}

.separatorTitle {
  position: absolute;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  top: -18px;
  background-color: #283618;
  padding: 0px 10px;
  color: #fefae0;
  font-size: 40px;
}

.separatorTitle2 {
  position: absolute;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
  padding: 5px 15px;
  color: #c59f4c;
  background-color: #fefae0;
  border-radius: 50px;
  box-shadow: #d6bc82 0px 2px 0px;
  font-size: 40px;
}

#bestSellersContent {
  width: 100%;
  padding: 50px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sellerCard {
  width: 400px;
  height: 600px;
  overflow: hidden;
  border: 0px solid #283618;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  background-color: #fefae0;
  color: #283618;
  box-shadow: #d6bc82 5px 5px 10px;
  position: relative;
}

.cardImg {
  height: 400px;
  width: 400px;
  object-fit: cover;
  pointer-events: none;
}

.cardText {
  font-size: 20px;
  padding: 10px;
  margin-top: -20px;
}

.sellerCard:hover {
  transform: scale(1.02);
}

/* .productButton {
  height: 60px;
  width: 200px;
  background-color: #7aa14f;
  border: 0px solid #283618;
  border-radius: 50px;
  font-size: 20px;
  color: #283618;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
}

.productButton:hover {
  background-color: #62853e;
  color: #fefae0;
} */

.productButton {
  position: absolute;
  padding: 1rem;
  background-color: var(--color-brown);
  color: var(--color-primary);
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  border: 0px solid transparent;
  font-size: 20px;
}

.productButton:hover {
  background-color: var(--color-green);
  color: var(--color-primary);
}

#presentationContener {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
  background-image: url(https://i.imgur.com/OEacIj5.png);
  border-top: 1px solid #6b8c59;
  border-bottom: 1px solid #6b8c59;
  align-items: center;
  background-size: cover;
}

#presentationImg {
  width: 300px;
  height: 300px;
  background-color: #606c38;
  border-radius: 10px;
  border: 0px solid #283618;
  background-image: url("https://i.imgur.com/pOi4Fxi.png");
  background-size: cover;
  overflow: hidden;
}

#presentationText {
  width: 800px;
  height: 300px;
  background-color: #fefae0;
  border-radius: 10px;
  border: 0px solid #283618;
  padding: 20px;
  box-sizing: border-box;
  color: #283618;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentationPara {
  font-size: 25px;
  color: #283618;
}

#quizzCat {
  height: 100px;
  position: fixed;
  z-index: 10;
  right: 0;
  top: 150px;
  animation: pop-in 2s ease-in-out;
  transition: all 0.3 ease-in-out;
  cursor: pointer;
}

@keyframes pop-in {
  from {
    transform: translate(100px);
  }

  to {
    transform: translate(0px);
  }
}

#matchatPopup {
  position: fixed;
  background-color: #fefae0;
  height: 80px;
  width: 200px;
  z-index: 100;
  border: 2px solid #283618;
  border-radius: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  right: 50px;
  top: 10%;
}

#matchatCat {
  height: 150px;
}

#quizzCat:hover ~ #matchatPopup {
  display: flex;
}

/* Carousel */

#carouselTitle {
  font-size: 80px;
  color: #fefae0;
  border-top: 5px solid #fefae0;
  border-bottom: 5px solid #fefae0;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 50%;
  animation: popInTitle 1s ease-in;
}

@keyframes popInTitle {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

.carousel_items {
  display: flex;
  overflow: hidden;
}
.carousel_item {
  position: relative;
  min-width: 100%;
  height: 100vh;
  transition: all 0.5s linear;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.item1 {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 70%,
      #283618 100%
    ),
    url("https://i.imgur.com/djWUGXu.png") center/cover no-repeat;
}

.item2 {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 70%,
      #283618 100%
    ),
    url("https://i.imgur.com/FhjOTAc.png") center/cover no-repeat;
}
.item3 {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 70%,
      #283618 100%
    ),
    url("https://i.imgur.com/TdiGtaQ.png") center/cover no-repeat;
}

/* Carousel */

/* Localisation Google maps */

#localisation {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  background-image: url(https://i.imgur.com/OEacIj5.png);
  border-bottom: 1px solid #6b8c59;
}

#mapsContener {
  height: 700px;
  width: 80%;
  background-color: #fefae0;
  border: 0px solid #283618;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}

#mapsPlacement {
  border: 0px solid #283618;
  border-radius: 15px;
  box-shadow: #d6bc82 5px 5px 5px;
}

#locationInfos {
  width: 600px;
  height: 600px;
  background-color: #606c38;
  border-radius: 20px;
  box-shadow: #d6bc82 5px 5px 5px;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}

#locationInfosTitle {
  font-size: 20px;
  background-color: #606c38;
  border-radius: 20px;
  padding: 5px 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -10px;
  color: #fefae0;
}

.locationInfosText {
  color: #fefae0;
  font-size: 25px;
  margin-top: 10px;
  overflow: hidden;
}

#locationLink {
  text-decoration: none;
  color: #fefae0;
  font-size: 25px;
  transition: all 0.3s ease-in-out;
}

#locationLink:hover {
  color: #7aa14f;
}

#imgLocation {
  width: 600px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-55%);
  pointer-events: none;
}

/* Footer */

.footer {
  background-color: #606c38;
  color: #fefae0;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.footer-class {
  display: flex;
  justify-content: start;
}

ul {
  list-style: none;
}

.footer-col {
  width: 32%;
  padding: 0 15px;
}

h4 {
  font-size: 18px;
  color: #fefae0;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 600;
  position: relative;
  margin-top: 10px;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #362115;
  height: 3px;
  box-sizing: border-box;
  width: 100px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #fefae0;
  text-decoration: none;
  font-weight: 300;
  display: block;
}

.footer-col ul li a:hover {
  color: #f1ffc5;
}

hr {
  color: #362115;
}

#Copyright {
  display: flex;
  color: #fefae0;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #f1ffc5;
  margin-top: 40px;
  padding-top: 10px;
}

#fin {
  display: flex;
}

#footer-align-vertical {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#footer-align-horizontal {
  display: flex;
  flex-direction: row;
}

/* Footer */
